## Dictionary

A **dictionary** in Python is an **unordered**, **mutable**, and **indexed** collection of key-value pairs.  
Each item in a dictionary is stored as:

```key: value```

- **Keys** must be unique and immutable (e.g., strings, numbers, tuples).
- **Values** can be of any data type and can repeat.

### Creating a Dictionary

In [1]:
# Empty dictionary
empty_dict = {}

In [3]:
# Dictionary with data
student = {
    'name': 'Alice',
    'age': 22,
    'grade': 'A'
}
student

{'name': 'Alice', 'age': 22, 'grade': 'A'}

In [2]:
students = {
    'name': ['Alice', 'John', 'Kim'],
    'age': [22, 25, 20],
    'grade': ['A', 'B', 'C'],
    'major': ['Computer Science', 'Mathematics', 'Physics']
}
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [22, 25, 20],
 'grade': ['A', 'B', 'C'],
 'major': ['Computer Science', 'Mathematics', 'Physics']}

### Common Dictionary Methods

| Method       | Description                         | Example                              |
|--------------|-------------------------------------|--------------------------------------|
| `get(key)`   | Get value for key                   | `student.get('age')`                 |
| `keys()`     | Returns all keys                    | `student.keys()`                     |
| `values()`   | Returns all values                  | `student.values()`                   |
| `items()`    | Returns (key, value) pairs          | `student.items()`                    |
| `update()`   | Updates dictionary with another     | `student.update({'age': 23})`        |
| `pop(key)`   | Removes key and returns value       | `student.pop('grade')`               |
| `clear()`    | Clears all items                    | `student.clear()`                    |

#### Accessing Dictionary Values

In [5]:
student

{'name': 'Alice', 'age': 22, 'grade': 'A'}

In [6]:
# Access by key
print(student['name'])    
student['email']

Alice

KeyError: 'email'

In [41]:
# Using get() (safe access)
print(student.get('age'))    # 22
print(student.get('email'))  # None (does not raise an error)

22
None

In [7]:
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [22, 25, 20],
 'grade': ['A', 'B', 'C'],
 'major': ['Computer Science', 'Mathematics', 'Physics']}

In [8]:
# Accessing a value
students.get('name')

['Alice', 'John', 'Kim']

In [10]:
# Accesing a specific value using the index
students['name'][0]

'Alice'

In [11]:
# Return all keys
students.keys()

dict_keys(['name', 'age', 'grade', 'major'])

In [12]:
# Return all values
students.values()

dict_values([['Alice', 'John', 'Kim'], [22, 25, 20], ['A', 'B', 'C'], ['Computer Science', 'Mathematics', 'Physics']])

In [13]:
# Return key-value pairs
students.items()

dict_items([('name', ['Alice', 'John', 'Kim']), ('age', [22, 25, 20]), ('grade', ['A', 'B', 'C']), ('major', ['Computer Science', 'Mathematics', 'Physics'])])

In [14]:
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [22, 25, 20],
 'grade': ['A', 'B', 'C'],
 'major': ['Computer Science', 'Mathematics', 'Physics']}

### Updating and Adding Items

In [16]:
# Update the age of 'Alice'
# students['age'][0] = 23
# students

students['grade'][1] = 'F'
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [23, 25, 20],
 'grade': ['A', 'F', 'C'],
 'major': ['Computer Science', 'Mathematics', 'Physics']}

In [57]:
# using update method
students.update({'age': [23, 27, 20]})
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [23, 27, 20],
 'grade': ['A', 'B', 'C'],
 'major': ['Computer Science', 'Mathematics', 'Physics']}

In [58]:
# Add a new key-value pair
students['email'] = 'alice@example.com'
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [23, 27, 20],
 'grade': ['A', 'B', 'C'],
 'major': ['Computer Science', 'Mathematics', 'Physics'],
 'email': 'alice@example.com'}

### Removing Items

In [59]:
# Remove grade
students.pop('grade')
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [23, 27, 20],
 'major': ['Computer Science', 'Mathematics', 'Physics'],
 'email': 'alice@example.com'}

In [ ]:
# Remove last inserted item
students.popitem()

('email', 'alice@example.com')

In [61]:
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [23, 27, 20],
 'major': ['Computer Science', 'Mathematics', 'Physics']}

In [62]:
# Clear all items
student.clear()
student

{}

### Applying Dictionaries:
- Loop through keys/values:

In [3]:
students

{'name': ['Alice', 'John', 'Kim'],
 'age': [22, 25, 20],
 'grade': ['A', 'B', 'C'],
 'major': ['Computer Science', 'Mathematics', 'Physics']}

In [7]:
# for key, value in students.items():
#     print(key, value)

for key, value in students.items():
    print(key, value)

name ['Alice', 'John', 'Kim']
age [22, 25, 20]
grade ['A', 'B', 'C']
major ['Computer Science', 'Mathematics', 'Physics']

In [4]:
# for student in students['name']:
#     print(student)

for student in students['name']:
    print(student)

Alice
John
Kim

- Check if a key exists:

In [6]:
# 'name' in students 
'faculty' in students

False

### Nested Dictionaries

- You can create dictionaries inside dictionaries:

In [9]:
students = {
    "student1": {
        "name": "Alice",
        "age": 22
    },
    "student2": {
        "name": "Bob",
        "age": 25
    }
}

# print(students["student1"]["name"])  # Alice
students["student2"]["name"]

'Bob'

In [10]:
# dictionary
my_dict = {
    'apple': 10,
    'banana': 5,
    'orange': 8,
    'mango': 12
}

# Calculate the sum of all values
total = sum(my_dict.values())

# Display the result
print("The sum of all the values in the dictionary is:", total)

The sum of all the values in the dictionary is: 35

In [11]:
# Dictionary with tuples as values
my_dict = {
    'apple': (2, 4),
    'banana': (1, 3),
    'orange': (5,),
    'mango': (6, 2, 1)
}

total = sum([num for values in my_dict.values() for num in values])

print("The sum of all the values in the dictionary is:", total)

The sum of all the values in the dictionary is: 24