## Basic SQL Queries

SQL (Structured Query Language) is used to **communicate with relational databases**. Below are the most common SQL statements every beginner should know.

---

### 1. SELECT – Retrieve Data

```sql
SELECT column1, column2 FROM table_name;
```
Example:
```sql
SELECT name, age FROM Employees;
```

### 2. WHERE – Filter Records

```sql
SELECT column1 FROM table_name WHERE condition;
```
Example:
```sql
SELECT name FROM Employees WHERE department = 'HR';
```

### 3. ORDER BY – Sort Results

```sql
SELECT * FROM table_name ORDER BY column [ASC|DESC];
```
Example:
```sql
SELECT name, salary FROM Employees ORDER BY salary DESC;
```

### 4. COUNT, SUM, AVG, MIN, MAX – Aggregate Functions

```sql
SELECT COUNT(*) FROM Employees;
SELECT SUM(salary) FROM Employees;
SELECT AVG(salary) FROM Employees;
SELECT MIN(salary) FROM Employees;
SELECT MAX(salary) FROM Employees;
```

### 5. GROUP BY – Group Data

```sql
SELECT department, COUNT(*) FROM Employees GROUP BY department;
```

### 6. HAVING – Filter Grouped Data

```sql
SELECT department, AVG(salary)
FROM Employees
GROUP BY department
HAVING AVG(salary) > 50000;
```

### 7. UPDATE – Modify Existing Data
```sql
UPDATE table_name
SET column1 = value1
WHERE condition;
```

### 8. DELETE – Remove Records

```sql
DELETE FROM table_name WHERE condition;
```

`Tips`
- SQL keywords are not case-sensitive, but uppercase is preferred by convention.
- Always use WHERE when updating or deleting to avoid affecting all records.